{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "ignore": [
    "node_modules",
    "assets",
    "view",
    "public",
    "logs",
    "lib/jasmine_examples",
    "db"
  ]
}